<?php
session_start();
?>

<!doctype html>

<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://csweb01.csueastbay.edu/~jb4522/Project1/ProductStyles.css">
    <title>finalOrder</title>
</head>

<body>

<?php

if($_POST['Desired_Action'] == "Order")
$_SESSION['card'] = $_POST['card'];
$_SESSION['cardNum'] = $_POST['cardNum'];
$_SESSION['cvv'] = $_POST['cvv'];
$_SESSION['MMYY'] = $_POST['MMYY'];
$_SESSION['cardZip'] = $_POST['cardZip'];
$_SESSION['cardName'] = $_POST['cardName'];
?>

<div class="topnav" id="myTopnav">
    <a href="home.php">Home</a>
    <a href="productsPage.html">Products</a>
    <a href="cart.php">Cart</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<h1>Order Summery:</h1>

<table width="100%" height="41" border="2">
    <tbody>
    <tr>
        <td height="37"><h2>Shipping</h2></td>
    </tr>
    </tbody>
</table>


<table width="100%" height="198" border="0">
    <tbody>
    </tbody>
    <tbody>
    </tbody>
    <tbody>
    </tbody>
    <tbody>
    </tbody>
    <tbody>
    </tbody>
    <tbody>
    </tbody>
    <tbody>
    </tbody>
    <tbody>
    </tbody>
    <tbody>
    <tr>
        <td width="24%" height="25"><b>Shipping Information:</b></td>
        <td width="27%">&nbsp;</td>
        <td width="49%" valign = "top" >&nbsp;</td>
    </tr>
    <tr>
        <td height="131" valign = "top">
            <?php echo $_SESSION['firstName']; ?>
            <?php echo $_SESSION['lastName']; ?> <br>
            <?php echo $_SESSION['addr1']; ?><br>
            <?php echo $_SESSION['addr2']; ?> <br>
            <?php echo $_SESSION['city']; ?>,
            <?php echo $_SESSION['state']; ?>
            <?php echo $_SESSION['zip']; ?> <br>

        </td>
        <td valign = "top">

            <?php echo $_SESSION['phone']; ?> <br>
            <?php echo $_SESSION['email']; ?> <br>



        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
    <tbody>
    <tr></tr>
    </tbody>
    <tbody>
    <tr></tr>
    </tbody>
    <tbody>
    <tr></tr>
    </tbody>
    <tbody>
    <tr></tr>
    </tbody>
    <tbody>
    <tr></tr>
    </tbody>
    <tbody>
    <tr></tr>
    </tbody>
    <tbody>
    <tr></tr>
    </tbody>
    <tbody>
    <tr></tr>
    </tbody>
</table>






<?php

$verbose = true; //set to false to get rid of additional print outs



//========================================
// Class item = represents a product that is a item is in shopping basket
class item {
    var $code; // code
    var $name; // name
    var $quantity; // quantity
    var $price; // price per item

    function item($code, $name, $quantity, $price) {
        $this->code = $code;
        $this->name = $name;
$this->quantity = $quantity;
$this->price = $price;
//$this->image = $image;

}
}

//========================================
// Class basket = represents shopping basket with the variable $session_basket representing the Array of item instances in basket


class basket {


function basket() {

$this->sessionStart();
}


function sessionStart() {
global $session_basket;      //global variable ---array of items in basket

//start session or retrieve if already exists with client
session_start();

if($verbose) //verbose printout --not necessary
echo "session id ". session_id() . "<br>";

//if previouisly started grab data associated with session_basket
if(isset($_SESSION['session_basket']))
{
$session_basket = $_SESSION['session_basket'];
if($verbose) //verbose printout --not necessary
{      echo "retrieved session basket is: ";
print_r($session_basket);
echo"<br>"; }
}
else
{      //if no session_basket initially to empty array
$session_basket = Array();

//store in SESSION variables
$_SESSION['session_basket'] = $session_basket;

if($verbose) //verbose printout --not necessary
echo "session basket NEW";
}
}




function sessionEnd() {
session_unset();
session_destroy();
}



function basketSize() {
global $session_basket;

// make session if not found
if ($session_basket == "") {
$this->sessionStart();
}

if (! is_array($session_basket)) {
return 0;
}
return $i;
}


function registerItem($code, $name, $quantity, $price) {
global $session_basket;

// make session if not found
if ($session_basket == "") {
$this->sessionStart();
}

// test to see if this product (with id $code) is currently IN basket, if so EDIT IT (update)
if (! $this->editItem($code, $name, $quantity, $price)) {
$item = new item($code, $name, $quantity, $price); //if NOT in basket CREATE IT
$session_basket[] = $item;
}



//Make sure to add updated $session_basket array to the SESSION variables

$_SESSION['session_basket'] = $session_basket;
}



/**
* see if product (with product id $code) is in the current $session_basket array
* if exist, modify it and return true
* else retrun false
*/
function editItem($code, $name, $quantity, $price) {
global $session_basket;

// make session if not found
if ($session_basket == "") {
$this->sessionStart();
return false;
}

reset($session_basket);
while(list($k, $v) = each($session_basket)) { //search in $session_basket
if ($session_basket[$k]->code == $code) { //if found matching code (product id)
// Found same code --- upade with new values the item
$session_basket[$k]->name == $name;
$session_basket[$k]->quantity += $quantity;
$session_basket[$k]->price = $price;

if($verbose) //verbose printout --not necessary
echo "INSIDE editItem: " . $code . "<br>";

return true; //return true we updated it
}
}

return false; //could not find the product currently in basket
}



/**
* delete item from basket ($session_basket array) that has product id of $code and name of $name
*/
function deleteItem($code, $name) {
global $session_basket;

// make session if not found
if ($session_basket == "") {
$this->sessionStart();
}

reset($session_basket);
while(list($k, $v) = each($session_basket)) { //look through each item in basket
if ($session_basket[$k]->code == $code) { //if this item's code matches $code then we found the one to remove
unset($session_basket[$k]); // remove this item from the $session_basket array
return true;
}
}
}
}





// STEP 1: Create or Retrive shopping basket if it already is in session
$basket = new basket();


// STEP 2 YOU will need to ALTER THIS CODE IN THE FOLLOWING WAYS:
// 1) Pass a parameter to the code when invoked telling it if you are "adding" (to basket), "deleting" (from basket), "clearing"
// entire basket.
// 2) Call this parameter "Desired_Action" and test for it. THE CODE BELOW is ONLY the code for adding/updating the basket
// a) Desired_Action = Adding/Updating
// then read in product information passed to this program from a form called "Add to Cart" to create an item and
// then call $basket->registerItem(***) see below
// b) Desired_Action = Deleting
// then read in the product id into variable $code and product name into variable $name of the item you want to
// delete from the basket. You get this information from the form that invokes this method passing. Then
// call $basket->deleteItem($code,$name);
// c) Desired_Action = Clear
// simply call $basket->sessionEnd();


if($_POST['Desired_Action'] == "Adding") //add and update case
{

//read in form data

$code = $_POST['code'];
$name = $_POST['name'];
$quantity = $_POST['quantity'];
$price = $_POST['price'];

//add it to the basket
$basket->registerItem($code, $name, $quantity, $price);

}
else if($_POST['Desired_Action'] == "Deleting") //remove from cart case
{

$basket->deleteItem($_POST['code'], $_POST['name']);
}


/*
//METHOD 1:print out basket (minimal formatting here you will need MORE)
reset($session_basket);
$i=0;
print("<table border=\"2\"><tr><td>Item#</td><td>Product ID</td><td>Product Name</td> <td> Quantity </td> <td>Price/item</td> <td>Cost</td></tr>\n");
    while(list($k, $v) = each($session_basket)) {
    $i++;
    $item = $session_basket[$k];
    echo "<tr>";
        echo "<td>" . $i .")</td>" ;
        echo " <td>". $item->code . "</td>";
        echo " <td>". $item->name . "</td>";
        echo " <td>". $item->quantity . "</td>";
        echo " <td>$". number_format($item->price) . "</td>";
        echo " <td>$". number_format($item->price*$item->quantity) . "</td>";
        echo "</tr>";

    }*/

    ?>


    <table width="930" border="0"><tr>

            <th width="512" height="55" scope="col"></th>
            <th width="180" scope="col"><h3>Item#</h3></th>
            <th width="180" scope="col"><h3>Product ID</h3></th>
            <th width="180" scope="col"><h3>Product Name</h3></th>
            <th width="180" scope="col"><h3>Quantity</h3></th>
            <th width="180" scope="col"><h3>Price</h3></th>
            <th width="180" scope="col"><h3>Cost</h3></th>

        </tr>
        <?php
    reset($session_basket);
    $i=0;

    $totalPrice = 0;

    while(list($k, $v) = each($session_basket)) {
    $i++;
    $item = $session_basket[$k];
    $image = "http://csweb01.csueastbay.edu/~jb4522/Project1/images/Profile/" . $item->code . ".jpg";
        ?>

        <tr>
            <td><img src=" <?php echo $image ?>" width = "300" height = "200"  ></td>
            <td>
                <center><?php echo $i . ")"; ?> <img src=" "></center>
            </td>
            <td>
                <center><?php echo $item->code; ?></center>
            </td>
            <td>
                <center><?php echo $item->name; ?> </center>
            </td>
            <td>
                <center>

                    <?php echo $item->quantity; ?>

                </center>
            </td>
            <td>
                <center><?php echo "$" . number_format($item->price); ?> </center>
            </td>
            <td>
                <center><?php echo "$" . number_format($item->price * $item->quantity); ?> </center>
            </td>
        </tr>

        <?php $totalPrice = ($totalPrice + ($item->price * $item->quantity)) ?>



        <?php
        //end of loop
        }

        ?>
    </table>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <table width="930" border="0"><tr>

            <td height="174">&nbsp;</td>
            <td></td>

            <td width = "175" valign = "top"><p><span style = "float:right;"> <?php echo "$" . number_format($totalPrice); ?> </span>Subtotal </p>
                <p>&nbsp;</p>
                <p style = "color: #3084DC"><span style = "float:right;"> <?php echo "$" . number_format($totalPrice * 0.08); ?></span>Estimated Tax</p>
                <p ><span style = "float:right;"> <?php echo "$" . $_SESSION['ship']; ?></span>Shipping</p>
                <p><span style = "float:right;"> <?php echo "$" . number_format(($totalPrice * 0.08) + ($totalPrice) + $_SESSION['ship']); ?></span>Total</p>
            </td>

        </tr>
    </table>




    <br>
    <br>
    <br>

    <table width="100%" border="2">
        <tbody>
        <tr>
            <td height="34"><h2>Billing</h2></td>
        </tr>
        </tbody>
    </table>
    <table width="100%" border="0">
        <tbody>
        <tr>
            <td width="28%" height="20"><b>Billing Information:</b></td>
            <td width="50%">&nbsp;</td>
            <td width="22%">&nbsp;</td>
        </tr>
        <tr>
            <td height="117" valign = "top">

                cc:&nbsp; <?php echo $_SESSION['cardNum']; ?> <br>
                cvv/cvc: &nbsp; <?php echo $_SESSION['cvv']; ?> <br>
                Postal: &nbsp;<?php echo $_SESSION['cardZip']; ?> <br>
                Card Holder: &nbsp;<?php echo $_SESSION['cardName']; ?> <br>
            </td>
            <td valign = "top">
                <b>Card Type:</b>
                <?php echo $_SESSION['card']; ?> <br>



            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>

            <td>&nbsp;</td>
            <td height="20">


                <form action = "thankyou.php">
                    <input type="submit" value = "Confirm">
                </form>


            </td>

            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>

</body>



</html>








