<!DOCTYPE html>
<html>




<p>Hello <%= outputName %></p>




<!--
 <form action= "/readNameAndRespond.ejs" method= "post" >

   Name: <input type="text" name="name"><br>

   <input type="submit" name="Go" id="go" value="Go!"/>

 </form>
-->



</html>
