!DOCTYPE html>
<html>
<head>
    <title>mLab MongoDB test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <h2>Orders: </h2>
    <ul>

        <li>First Name :<%= firstName %> </li>
        <ul>
            <li>Last Name:( <%=lastName %>)</li>
            <li>Address: ( <%= addr1 %> ) </li>
            <li>City: ( <%= city %> ) </li>
        </ul>
        <br/><br/>

    </ul>
</div>

</body>
</html>